![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities. # HEALTHCARE FOR ALL STUDY CASE

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as pyplot
import seaborn as sns

In [2]:
# Import data
data=pd.read_csv('C:/Users/aguva/Ironhack/Unit7/7.1/learningSet.csv')

In [3]:
# Observamos la dimensiónd del Dataset
data.shape

(95412, 481)

- Check for null values in all the columns

In [4]:
# Observamos el % de nulos en cada columna

nulls_percent_df=pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent_df.columns = ['columns_name', 'nulls_percentage']
nulls_percent_df

    columns_name  nulls_percentage
0        ODATEDW          0.000000
1        OSOURCE          0.000000
2          TCODE          0.000000
3          STATE          0.000000
4            ZIP          0.000000
..           ...               ...
476     MDMAUD_R          0.000000
477     MDMAUD_F          0.000000
478     MDMAUD_A          0.000000
479     CLUSTER2          0.001383
480     GEOCODE2          0.001383

[481 rows x 2 columns]

In [5]:
nulls_percent_df.sort_values(by=['nulls_percentage'], ascending=False).head(5)

    columns_name  nulls_percentage
414      RDATE_5          0.999906
436      RAMNT_5          0.999906
412      RDATE_3          0.997464
434      RAMNT_3          0.997464
413      RDATE_4          0.997055

- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP CODE` - we are including state already -No existe elimino `ZIP`

In [6]:
# Columnas que quiero remover
drop_columns_list = ['OSOURCE', 'ZIP']

# Verifica si están en el DataFrame
existing_cols = data.columns.tolist()

for col in drop_columns_list:
    if col in existing_cols:
        existing_cols.remove(col)

# Eliminar las columnas de la lista en el DataFrame
data = data.drop(drop_columns_list, axis=1)

# Limpiar la lista drop_columns_list
drop_columns_list.clear()

# Verificar la forma del DataFrame después de eliminar las columnas
print(data.shape)

(95412, 479)

- Identify columns that over 85% missing values

In [7]:
# Create subset with columns with => 0.25 of null values
df_85=nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]

df_85

    columns_name  nulls_percentage
23       NUMCHLD          0.870184
412      RDATE_3          0.997464
413      RDATE_4          0.997055
414      RDATE_5          0.999906
415      RDATE_6          0.991867
416      RDATE_7          0.906773
419     RDATE_10          0.890360
422     RDATE_13          0.871609
424     RDATE_15          0.923888
426     RDATE_17          0.901469
429     RDATE_20          0.917327
430     RDATE_21          0.900296
432     RDATE_23          0.917631
434      RAMNT_3          0.997464
435      RAMNT_4          0.997055
436      RAMNT_5          0.999906
437      RAMNT_6          0.991867
438      RAMNT_7          0.906773
441     RAMNT_10          0.890360
444     RAMNT_13          0.871609
446     RAMNT_15          0.923888
448     RAMNT_17          0.901469
451     RAMNT_20          0.917327
452     RAMNT_21          0.900296
454     RAMNT_23          0.917631

- Remove those columns from the dataframe

In [8]:
# Create subset with columns with => 0.85 of null values
drop_columns=nulls_percent_df[nulls_percent_df['nulls_percentage']>0.85]

# Obtener una lista de nombres de columna desde el DataFrame drop_columns
drop_columns_list = drop_columns['columns_name'].tolist()

# Verifica si están en el DataFrame
existing_cols = data.columns.tolist()

for col in drop_columns_list:
    if col in existing_cols:
        existing_cols.remove(col)

# Eliminar las columnas de la lista en el DataFrame
data = data.drop(drop_columns_list, axis=1)

# Limpiar la lista drop_columns_list
drop_columns_list.clear()

# Verificar la forma del DataFrame después de eliminar las columnas
print(data.shape)

(95412, 454)

- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [9]:
data_cat = data.select_dtypes(object)

data_cat.shape

(95412, 72)

In [10]:
data_cat.GENDER.value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [11]:
data_cat.GENDER.isnull().sum()

0

In [12]:
data_cat.GENDER.fillna('F', inplace=True)

In [13]:
# Definimos una función llamada clean_gender
def clean_gender(x):
     # Verificar si x no está en la lista ['F', 'M']
    if x not in ['F', 'M']:
        # Si no está en la lista, asignar 'other' y devolverlo
        return 'other'
    else:
        # Si está en la lista, devolver x sin cambios
        return x

In [14]:
data_cat.GENDER= list(map(clean_gender, data_cat['GENDER']))
data_cat.GENDER.value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64